body.hl	{ background-color:#ffffff; }
pre.hl	{ color:#000000; background-color:#ffffff; font-size:10pt; font-family:'Courier New',monospace;}
.hl.num { color:#000000; }
.hl.esc { color:#a31515; }
.hl.str { color:#a31515; }
.hl.pps { color:#0000ff; }
.hl.slc { color:#008000; }
.hl.com { color:#008000; }
.hl.ppc { color:#0000ff; }
.hl.opt { color:#000000; }
.hl.ipl { color:#a31515; }
.hl.lin { color:#2b91af; }
.hl.kwa { color:#0000ff; }
.hl.kwb { color:#0000ff; }
.hl.kwc { color:#2b91af; }
.hl.kwd { color:#000000; }

