<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.14" targetFramework="net47" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net47" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net47" />
  <package id="FSPowerPack.Core.Community" version="2.0.0.1" targetFramework="net47" />
  <package id="FSPowerPack.Linq.Community" version="2.0.0.1" targetFramework="net47" />
  <package id="FSPowerPack.Metadata.Community" version="2.0.0.1" targetFramework="net47" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="2.0.0.1" targetFramework="net47" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net47" />
  <package id="PerfUtil" version="0.1.8" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net47" />
</packages>